services:
  encoder:
    build: .
    container_name: srt-encoder
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu, video]
    volumes:
      - ./app.py:/app/app.py
      - ./templates:/app/templates
      - ./streams.json:/app/streams.json
